<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite">

<listeners>
 <listener class-name ="sdet.Assesment.Listeners"/>
</listeners>

  <test name ="loginTest">
    <parameter name="userName" value="standard_user"/>
    <parameter name="password" value="secret_sauce"/>
    
    <classes>
    	<class name ="sdet.Assesment.AppTest">
    	 <methods>
    	 	<include name="loginTest"/>
    	 </methods>
    	
    	</class>
    
    </classes>
  </test>

</suite> <!-- Suite -->
 